school_trim_galore/trim.cwl
school_trim_galore/trim_blc.cwl
school_trim_galore/trim_ori.cwl
batch_dna_align/resources/docker.dna_alignment.tar.gz
msisensor_createpanelref/resources/docker.profiling_qc.tar.gz
school_dna_bamqc/resources/docker.profiling_qc.tar.gz
school_rna_align/resources/docker.rna_alignment.tar.gz
school_checkmate_msi/resources/docker.profiling_qc.tar.gz
school_dna_align/resources/docker.dna_alignment.tar.gz
school_gatkbqsr/resources/docker.variantcalling.tar.gz
school_markdups/resources/docker.dna_alignment.tar.gz
school_rna_bamqc/resources/docker.profiling_qc.tar.gz
school_rna_bamreadct/resources/docker.profiling_qc.tar.gz
school_rna_exonskipping/resources/docker.profiling_qc.tar.gz
school_rna_exonskipping/resources/docker.rna_gene_abundance.tar.gz
school_rna_geneabundance/resources/docker.rna_gene_abundance.tar.gz
school_snv_indel_calling/resources/docker.variantcalling.tar.gz
school_star_fusion/resources/docker.starfusion.tar.gz
school_sv_calling/resources/docker.structuralvariant.tar.gz
school_trim_galore/resources/docker.trim_galore.tar.gz
school_unionvcf/resources/docker.variantcalling.tar.gz
svcalling_test
